# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Variabili d'ambiente
.env

# Log
logs
*.log

# Directory di build
dist/
build/

# Dipendenze
package-lock.json
yarn.lock

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo
